{% load static %}
<div id="{{article.article_id}}" class="row">
{% if article.pos == 'left' %}
      <div class="column one-half">
        <img class="image" src="{{ MEDIA_URL }}{{ article.image.url }}" alt="{{article.image_alt}}">
        <p>{{article.image_alt}}</p>
      </div>
      <div class="column one-half">
        <h5>{{article.headline}}</h5>
        <p>{{article.text|safe}}</p>
      </div>
{% else %}
      <div class="column one-half">
        <h5>{{article.headline}}</h5>
        <p>{{article.text|safe}}</p>
      </div>
      <div class="column one-half">
        <img class="image" src="{{ MEDIA_URL }}{{ article.image.url }}" alt="{{article.image_alt}}">
        <p>{{article.image_alt}}</p>
      </div>
{% endif %}
</div>