{% extends 'vtanz/base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="column">
      <h4>Datenschutzerklärung</h4>
      <h5>Zugriffsdaten</h5>
      <p>Der Seitenbetreiber erhält automatisch durch den Browser des Benutzers folgende Daten:</p>
      <ul>
        <li>Zielwebsite</li>
        <li>Zeitpunkt des Zugriffs</li>
        <li>Gesendete Datenmenge</li>
        <li>Quellseite</li>
        <li>verwendeter Browser</li>
        <li>Verwendetes Betriebssystem</li>
        <li>IP-Adresse</li>
      </ul>
      <p>Die Daten werden nicht gespeichert oder anderweitig ausgewertet.</p>
    </div>
  </div>
</div>
{% endblock %}